# Global .gitconfig
[core]
	excludesfile = ~/.config/git/.gitignore_global

[init]
	defaultBranch = main

[user]
	name = Michael Yocca
	email = 19916665+mjyocca@users.noreply.github.com

[alias]
	fza = "!git ls-files -m -o --extend-standard | fzf --print0 -m | xargs -0 -t -o git add"
	cpb = "!git rev-parse --abbrev-ref HEAD | tr -d '\n' | pbcopy"

# Per parent directory settings
; [includeIf "gitdir:~/Projects/Development/work/"]
;   path = .gitconfig-work
;
; [includeIf "gitdir:~/Projects/Development/personal/"]
;   path = .gitconfig-personal